@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: "Playfair Display", serif;
    text-align: center;
    background-color: #4A1F1F;
}

nav {
    border: 2px solid #D4AF37;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size:  3rem;
    line-height: 7rem;
}

h2 {
    padding: 1rem;
    background-color: #4A1F1F;
    border-radius: 2rem 2rem 0 0;
    color: #E0C067;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px dashed #D4AF37;
}

li a {
    display: block;
}

li a,
li a:visited {
    text-decoration: none;
    color: #e6ccb2;
}

li a:hover,
li a:focus {
    cursor: pointer;
    background-color: #5b2828;
    color: #dda15e;
}

li:last-child  a {
    border-radius: 0 0 2rem 2rem;
}

p {
  font-size: 1.5rem;
  color: #e6ccb2
}

p a {
    color:#e6ccb2;
    text-decoration: none;
}

p a:visited{
    color: #f0efeb;
}

